# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
frontend/.svelte-kit/output/
